<%= render partial: 'form', locals: {link: @link} %>
<div id="links" class="mt-4 px-2 flex flex-col divide-y divide-gray-200">
  <%= render @links %>
  <div class="flex justify-center mt-7 mb-15">
    <div>
      <%== pagy_nav (@pagy) %>
    </div>
  </div>
</div>